In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab02.ipynb")

<!-- <a href="https://colab.research.google.com/github/develop_otter/material_20242/blob/main/lab/lab01/lab01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> -->

In [2]:
import otter
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from datascience import *
%matplotlib inline

<p><img alt="Colaborat" style="height: 220px;" src="Fig_01_Escudo-UdeA.png" align="left" hspace="10px" vspace="0px"></p>


# Fundamentos en ciencias de datos


## Laboratorio 2: Operaciones con tablas

춰Bienvenidos al Laboratorio 2! Esta semana, aprenderemos c칩mo importar un m칩dulo y pr치cticaremos operaciones con tablas. Algunas referencias estan dadas en el siguiente  [enlace](https://www.data8.org/fa23/reference/), el cual tiene informaci칩n 칰til para este pr치ctica de laboratorio.

**Lectura recomendada**:
  * [Introducci칩n a las Tablas](https://www.inferentialthinking.com/chapters/03/4/Introduction_to_Tables)

Como recordatorio, estas son las pol칤ticas para obtener una nota completa:

1. Recuerden que  recibiran el 80% del laboratorio solo con **asistir** a la secci칩n de los viernes laboratorio y lograr un progreso significativo en ```notebook de jupyter```.



**Env칤o**: Una vez que haya terminado, ejecute todas las celdas adem치s de la 칰ltima, seleccione Archivo > Guardar cuaderno y luego ejecute la celda final. El resultado contendr치 un archivo zip que podr치 utilizar para enviarlo.

Comencemos configurando las pruebas e importaciones ejecutando la siguiente celda.

<!-- BEGIN QUESTION -->

Ingrese su nombre en la siguiente celda:
```python
Nombre = "Ala Turing"
Carnet =  "3.1421"
```

In [3]:
Nombre = "..."
Carnet = "..."

In [4]:
Nombre = "Gustavo Castrillon"
Carnet = "666666666"

In [5]:
Nombre = "Gustavo Castrillon"
Carnet = "66666666666"

<!-- END QUESTION -->

# 1. Revisi칩n: Los componentes b치sicos del c칩digo Python

Los dos bloques de construcci칩n del c칩digo Python son *expresiones* y *declaraciones*. Una **expresi칩n** es un fragmento de c칩digo que:

-  Es aut칩nomo, lo que significa que tendr칤a sentido escribirlo en una l칤nea por s칤 solo, y
-  generalmente se eval칰a como un valor.


Aqu칤 hay dos expresiones que se eval칰an como 3:

     3
     5 - 2
    
Un tipo importante de expresi칩n es : ```call expression``` en ingl칠s o  **expresi칩n de ejecuci칩n**. Una expresi칩n de ejecuci칩n  se utilizan para describir la acci칩n de llamar o invocar una funci칩n o m칠todo en programaci칩n,  comienza con el nombre de una funci칩n y va seguida de los argumentos de esa funci칩n entre par칠ntesis. La funci칩n devuelve alg칰n valor, seg칰n sus argumentos. Algunas funciones matem치ticas importantes se enumeran a continuaci칩n.

| Funci칩n | Descripci칩n |
|----------|------------|
| `abs` | Devuelve el valor absoluto de su argumento |
| `max` | Devuelve el m치ximo de todos sus argumentos |
| `min` | Devuelve el m칤nimo de todos sus argumentos |
| `pow` | Eleva su primer argumento a la potencia de su segundo argumento |
| `round` | Redondea su argumento al entero m치s cercano |

Aqu칤 hay dos expresiones de ejecuci칩n que se eval칰an como 3:

     abs(2 - 5)
     max(round(2.8), min(pow(2, 10), -1 * pow(2, 10)))

La expresi칩n `2 - 5` y las dos llamadas de ejecuciones  anteriores,  son ejemplos de **expresiones compuestas**, lo que significa que en realidad son combinaciones de varias expresiones m치s peque침as. `2 - 5` combina las expresiones `2` y `5` mediante resta. En este caso, `2` y `5` se denominan **subexpresiones** porque son expresiones que forman parte de una expresi칩n m치s grande.

Una **declaraci칩n** es una l칤nea completa de c칩digo. Algunas declaraciones son s칩lo expresiones. Las expresiones enumeradas anteriormente son ejemplos.

Otras declaraciones *hacen que algo suceda* en lugar de *tener un valor*. Por ejemplo, una **declaraci칩n de asignaci칩n** asigna un valor a un nombre.

Una buena forma de pensar en esto es que estamos **evaluando el lado derecho** del signo igual y **asign치ndolo al lado izquierdo**. Aqu칤 hay algunas declaraciones de asignaci칩n:
    
     altura = 1.3
     num_cinco = abs(-5)
     dif_altura_abs = abs(altura - 1.688)

Una idea importante en programaci칩n es que se pueden construir cosas grandes e interesantes combinando muchas cosas simples y poco interesantes. La clave para comprender un c칩digo complicado es **dividirlo en sus componentes simples**

Por ejemplo, suceden muchas operaciones en la 칰ltima declaraci칩n como combinaci칩n operaciones m치s b치sicas. La siguiente  imagen describe mejor lo que est치 pasando (Notese que algunos nombres est치n en ingl칠s,  para ir familiarizandose con algunos nombres que son de inter칠s en python) 

<img src="Fig_02_Expresiones.png">

**Pregunta 1.1.** En la siguiente celda, asigne el nombre `nuevo_anio` al **n칰mero mayor** entre los dos n칰meros siguientes:

-  el **valor absoluto** de $2^{6}-2^{11}-2^{5} - 8$, y
-  $5 \times 13 \times 31 + 7$.

Intente utilizar solo una declaraci칩n (una l칤nea de c칩digo). Aseg칰rese de verificar su trabajo ejecutando la celda de prueba despu칠s.

In [6]:
primer_valor = 2**6 - 2**11 - 2**5 - 9
segundo_valor = 5*13*31 + 7
nuevo_anio= max(abs(primer_valor),segundo_valor)
nuevo_anio

2025

In [7]:
grader.check("q11")

q11 results: All test cases passed!

En el ejemplo anterior, creamos una sola l칤nea de c칩digo porque solo involucra operaciones matem치ticas. Sin embargo, las preguntas de programaci칩n m치s complicadas requerir치n m치s pasos. No siempre es una buena idea agrupar estos pasos en una sola l칤nea porque puede hacer que el c칩digo sea m치s dif칤cil de leer y de depurar.

Una buena pr치ctica de programaci칩n implica dividir el c칩digo en pasos m치s peque침os y utilizar nombres apropiados. 춰Tendr치s mucha pr치ctica en el resto de este curso!

# 2. Importaci칩n de c칩digo

La mayor parte de la programaci칩n implica un trabajo muy similar al trabajo que se ha realizado antes. Dado que escribir c칩digo lleva mucho tiempo, es bueno confiar en el c칩digo publicado por otros cuando sea posible. En lugar de copiar y pegar, Python nos permite **importar m칩dulos**. Un m칩dulo es un archivo con c칩digo Python que tiene variables y funciones definidas. Al importar un m칩dulo, podemos usar su c칩digo en nuestro propio cuaderno.

Python incluye muchos m칩dulos 칰tiles que est치n a s칩lo una "importaci칩n" de distancia. Veremos el m칩dulo "math" como primer ejemplo. El m칩dulo "math" es extremadamente 칰til para calcular expresiones matem치ticas en Python.

Supongamos que queremos calcular con mucha precisi칩n el 치rea de un c칤rculo A con un radio R de 5 metros. Para eso, necesitamos la constante $\pi$, que es aproximadamente 3.14. Convenientemente, el m칩dulo "math" tiene "pi" definido para nosotros. Ejecute la siguiente celda para importar el m칩dulo matem치tico:

\begin{equation}
A = \pi R^2 = \pi 5^2\  \text{m}^2
\end{equation}

In [8]:
import math
radio = 5
area_del_circulo = radio**2 * math.pi
area_del_circulo

78.53981633974483

En el c칩digo anterior, la l칤nea "import math" importa el m칩dulo matem치tico. Esta declaraci칩n crea un m칩dulo y luego asigna el nombre "math" a ese m칩dulo. Ahora podemos acceder a cualquier variable o funci칩n definida en `math` escribiendo el nombre del m칩dulo seguido de un punto, luego seguido del nombre de la variable o funci칩n que queremos.

     <nombre del m칩dulo>.<nombre>

**Pregunta 2.1.** El m칩dulo `math` tambi칠n proporciona el nombre `e` para la base del logaritmo natural, que es aproximadamente 2.71. Calcule $e^{\pi}-\pi$, d치ndole el nombre `cerca_veinte`.

*Recuerda: 춰Tambi칠n puedes acceder a `pi` desde el m칩dulo `math`!*

In [9]:
from math import *
cerca_veinte= math.e ** math.pi - math.pi 
cerca_veinte

19.99909997918947

In [10]:
grader.check("q21")

q21 results: All test cases passed!

## 2.1. Accediendo a funciones

En la pregunta anterior, accedi칩 a variables dentro del m칩dulo "math".

**Los m칩dulos** tambi칠n definen **funciones**. Por ejemplo, "math" proporciona la funci칩n "floor" que se utiliza en programaci칩n para redondear un n칰mero hacia abajo al entero m치s cercano. Habiendo importado ya "math", podemos escribir "math.floor(7.5)" para calcular el `floor` de 7.5 que es 7.

**Pregunta 2.1.1.** Calcule el `floor` del n칰mero  $\pi$ usando el m칩dulo `math`. Asigne al resultado el nombre `floor_de_pi`.

In [11]:

floor_de_pi=math.floor(math.pi)
floor_de_pi

3

In [12]:
grader.check("q211")

q211 results: All test cases passed!

Para que tengas como referencia, a continuaci칩n se muestran algunos ejemplos m치s de funciones del m칩dulo "math".

Observe c칩mo diferentes funciones toman diferentes n칰meros de argumentos. A menudo, la [documentaci칩n](https://docs.python.org/3/library/math.html) del m칩dulo proporcionar치 informaci칩n sobre cu치ntos argumentos se requieren para cada funci칩n.

*Sugerencia: si presiona `shift+tab` mientras est치 al lado de la llamada de funci칩n, aparecer치 la documentaci칩n para esa funci칩n.*

In [13]:
# Calcular logaritmos (el logaritmo de 8 en base 2).
# El resultado es 3 porque 2 elevado a 3 es 8.
math.log(8, 2)

3.0

In [14]:
# Calcular ra칤ces cuadradas.
math.sqrt(5)

2.23606797749979

Hay varias formas de importar y acceder a c칩digo desde fuentes externas. El m칠todo que usamos anteriormente, `<importar>.<nombre_m칩dulo>`, importa el m칩dulo completo,  requiere que usemos `<nombre_m칩dulo>.<nombre>` para acceder a su c칩digo.

Tambi칠n podemos importar una constante o funci칩n espec칤fica en lugar del m칩dulo completo. Tenga en cuenta que no es necesario utilizar el nombre del m칩dulo de antemano para hacer referencia a ese valor en particular. Sin embargo, debe tener cuidado al reasignar los nombres de las constantes o funciones a otros valores.

In [15]:
# Importando solo cos y pi desde matem치ticas.
# No tenemos que usar "matem치ticas" delante de cos o pi
from math import cos, pi
print(cos(pi))

# Sin embargo, tenemos que usarlo delante de otras funciones matem치ticas.
math.log(pi)

-1.0

1.1447298858494002

O podemos importar cada funci칩n y valor de todo el m칩dulo.

In [16]:
# Por 칰ltimo, podemos importar todo desde matem치ticas usando el *
# Una vez m치s, no tenemos que usar "matem치ticas". antemano
from math import *
log(pi)

1.1447298858494002

No se preocupe demasiado por qu칠 tipo de importaci칩n utilizar. A menudo es una elecci칩n de estilo de codificaci칩n que queda en manos de cada programador. En este curso, siempre importar치 los m칩dulos necesarios cuando ejecute la celda de configuraci칩n (como la primera celda de c칩digo en esta pr치ctica de laboratorio).

춰Pasemos a practicar algunas de las operaciones en tablas que aprendiste en las clases!

# 3. Operaciones con tablas.



La tabla `Lab02_poblacion_proyeccion_201.csv` contiene datos sobre el estimado de la  poblaci칩n de las ciudades de Bogot치 y Medell칤n  desde 2018-2035 a nivel de comunas y corregimientos, estimados a junio 30 de cada a침o, con ultima actualizacion al 2024-07-25 (seg칰n los [datos abiertos de medellin](https://www.medellin.gov.co/geomedellin/datosAbiertos/263) y [dane](https://www.dane.gov.co/index.php/estadisticas-por-tema/demografia-y-poblacion/proyecciones-de-poblacion/proyecciones-de-poblacion-bogota))


Ejecute la siguiente celda para cargar la tabla `poblacion`. No habr치 resultados; no se espera ning칰n resultado ya que la celda contiene una declaraci칩n de asignaci칩n. Una declaraci칩n de asignaci칩n no produce ning칰n resultado (no produce ning칰n valor).

In [17]:
datos = Table.read_table('Lab02_poblacion_proyeccion_201.csv')
datos

Unnamed: 0 | LOCALIDAD       | Ciudad   | LATITUD | LONGITUD | 2018   | 2019   | 2020   | 2021   | 2022   | 2023   | 2024   | 2025   | 2026   | 2027   | 2028   | 2029   | 2030   | 2031 | 2032 | 2033 | 2034 | 2035
0          | Popular         | Medell칤n | 6.29334 | -75.5448 | 136986 | 140218 | 143039 | 145235 | 147382 | 149586 | 152365 | 154823 | 157097 | 159185 | 161056 | 162647 | 164029 | nan  | nan  | nan  | nan  | nan
1          | Santa Cruz      | Medell칤n | 6.29696 | -75.5549 | 113064 | 115588 | 117744 | 119374 | 120959 | 122573 | 124610 | 126425 | 128072 | 129542 | 130835 | 131961 | 132892 | nan  | nan  | nan  | nan  | nan
2          | Manrique        | Medell칤n | 6.27506 | -75.5459 | 164858 | 168724 | 172090 | 174692 | 177232 | 179793 | 182988 | 185895 | 188577 | 190985 | 193138 | 195105 | 196795 | nan  | nan  | nan  | nan  | nan
3          | Aranjuez        | Medell칤n | 6.27772 | -75.5626 | 141312 | 142990 | 144233 | 144815 | 145325 | 145837 | 146611 | 147250 | 147680 | 147905 | 147885 | 147721 | 147337 | nan  | nan  | nan  | nan  | nan
4          | Castilla        | Medell칤n | 6.2937  | -75.5683 | 123992 | 125276 | 126200 | 126587 | 126939 | 127289 | 127722 | 128067 | 128261 | 128292 | 128147 | 127765 | 127202 | nan  | nan  | nan  | nan  | nan
5          | Doce de Octubre | Medell칤n | 6.29756 | -75.5776 | 177190 | 179493 | 181235 | 182165 | 183012 | 183889 | 185191 | 186227 | 187015 | 187521 | 187763 | 187738 | 187428 | nan  | nan  | nan  | nan  | nan
6          | Robledo         | Medell칤n | 6.27907 | -75.5888 | 189238 | 194042 | 198274 | 201656 | 204954 | 208305 | 212453 | 216194 | 219669 | 222840 | 225717 | 228344 | 230614 | nan  | nan  | nan  | nan  | nan
7          | Villa Hermosa   | Medell칤n | 6.25853 | -75.5513 | 153216 | 157668 | 161728 | 165061 | 168399 | 171776 | 175756 | 179508 | 183078 | 186425 | 189545 | 192463 | 195149 | nan  | nan  | nan  | nan  | nan
8          | Buenos Aires    | Medell칤n | 6.24379 | -75.5568 | 155391 | 160045 | 164279 | 167860 | 171416 | 175014 | 179159 | 183086 | 186832 | 190341 | 193632 | 196755 | 199606 | nan  | nan  | nan  | nan  | nan
9          | La Candelaria   | Medell칤n | 6.2501  | -75.568  | 75913  | 77053  | 77926  | 78478  | 78937  | 79404  | 79892  | 80444  | 80892  | 81199  | 81409  | 81582  | 81671  | nan  | nan  | nan  | nan  | nan
... (31 rows omitted)

In [18]:
# Simplemente ejecuta esta celda
poblacion = Table.read_table('Lab02_poblacion_proyeccion_201.csv')

Examinemos nuestra tabla para ver qu칠 datos contiene.

**Pregunta 3.1.** Utilice el m칠todo `show` para mostrar las primeras 5 filas de `poblacion`.

*Nota:* Los t칠rminos "m칠todo" y "funci칩n" t칠cnicamente no son lo mismo, pero para los prop칩sitos de este curso, los usaremos indistintamente.

**Pista:** `tbl.show(3)` mostrar치 las primeras 3 filas de la tabla denominada `tbl`. Adem치s, aseg칰rese de no llamar a `.show()` sin un argumento, ya que esto bloquear치 su kernel.

In [19]:
poblacion.show(5)

Observe que faltan algunos de los valores en esta tabla, como se indica con "nan". Esto significa que el valor no est치 disponible o no es aplicable (como es el caso de las 칰ltimas columnas de la tabla), eso no significa que todas la columnas tengan valores "nan". 춰Note tambi칠n la cantidad de filas y columna en el `dataset`!

### N칰mero de columnas:  `num_columns `

La propiedad de la tabla `num_columns` devuelve el n칰mero de columnas de una tabla. (Una "propiedad" es solo un m칠todo al que no es necesario llamar agregando par칠ntesis).

Llamada de ejemplo: `tbl.num_columns` devolver치 el n칰mero de columnas en una tabla llamada `tbl`

**Pregunta 3.2.** Utilice `num_columns` para encontrar el n칰mero de columnas en nuestro conjunto de datos de mercados de agricultores.

Asigne el n칰mero de columnas a `poblacion_columns`.

In [20]:

poblacion_columns= poblacion.num_columns
print("La tabla tiene ", poblacion_columns, "columnas!")

La tabla tiene  23 columnas!

In [21]:
grader.check("q32")

q32 results: All test cases passed!

### N칰mero de filas:  `num_rows`

De manera similar, la propiedad `num_rows` te indica cu치ntas filas hay en una tabla.

In [22]:
# Ejecuta la siguiente celda
poblacion_rows = poblacion.num_rows
print("la tabla tiene", poblacion_rows, "filas!")

la tabla tiene 41 filas!

La tabla anterior solo tiene 41 filas o registros, sin embargo,  el potencial de trabajar desde python es que podemos procesar muchos m치s datos como lo veremos m치s adelante en el curso. la cantidad de datos que podemos procesar, depende de nuestra capacidad de memoria y disco duro, tu servidor actual cuenta con: 2Gb Ram y 10 Gb de disco duro.


`Nota`: Es importante que poco a poco, se vaya  familarizando con las palabras del ingl칠s, por ejemplo, rows y columns traducen como filas y columnas. Toda la sintaxis de python y sus librerias debe ser escrito en el lenguaje estricto de python, a diferencia de las variables o expresiones que tu puedes crear con el nombre que desees.

In [23]:
poblacion

Unnamed: 0 | LOCALIDAD       | Ciudad   | LATITUD | LONGITUD | 2018   | 2019   | 2020   | 2021   | 2022   | 2023   | 2024   | 2025   | 2026   | 2027   | 2028   | 2029   | 2030   | 2031 | 2032 | 2033 | 2034 | 2035
0          | Popular         | Medell칤n | 6.29334 | -75.5448 | 136986 | 140218 | 143039 | 145235 | 147382 | 149586 | 152365 | 154823 | 157097 | 159185 | 161056 | 162647 | 164029 | nan  | nan  | nan  | nan  | nan
1          | Santa Cruz      | Medell칤n | 6.29696 | -75.5549 | 113064 | 115588 | 117744 | 119374 | 120959 | 122573 | 124610 | 126425 | 128072 | 129542 | 130835 | 131961 | 132892 | nan  | nan  | nan  | nan  | nan
2          | Manrique        | Medell칤n | 6.27506 | -75.5459 | 164858 | 168724 | 172090 | 174692 | 177232 | 179793 | 182988 | 185895 | 188577 | 190985 | 193138 | 195105 | 196795 | nan  | nan  | nan  | nan  | nan
3          | Aranjuez        | Medell칤n | 6.27772 | -75.5626 | 141312 | 142990 | 144233 | 144815 | 145325 | 145837 | 146611 | 147250 | 147680 | 147905 | 147885 | 147721 | 147337 | nan  | nan  | nan  | nan  | nan
4          | Castilla        | Medell칤n | 6.2937  | -75.5683 | 123992 | 125276 | 126200 | 126587 | 126939 | 127289 | 127722 | 128067 | 128261 | 128292 | 128147 | 127765 | 127202 | nan  | nan  | nan  | nan  | nan
5          | Doce de Octubre | Medell칤n | 6.29756 | -75.5776 | 177190 | 179493 | 181235 | 182165 | 183012 | 183889 | 185191 | 186227 | 187015 | 187521 | 187763 | 187738 | 187428 | nan  | nan  | nan  | nan  | nan
6          | Robledo         | Medell칤n | 6.27907 | -75.5888 | 189238 | 194042 | 198274 | 201656 | 204954 | 208305 | 212453 | 216194 | 219669 | 222840 | 225717 | 228344 | 230614 | nan  | nan  | nan  | nan  | nan
7          | Villa Hermosa   | Medell칤n | 6.25853 | -75.5513 | 153216 | 157668 | 161728 | 165061 | 168399 | 171776 | 175756 | 179508 | 183078 | 186425 | 189545 | 192463 | 195149 | nan  | nan  | nan  | nan  | nan
8          | Buenos Aires    | Medell칤n | 6.24379 | -75.5568 | 155391 | 160045 | 164279 | 167860 | 171416 | 175014 | 179159 | 183086 | 186832 | 190341 | 193632 | 196755 | 199606 | nan  | nan  | nan  | nan  | nan
9          | La Candelaria   | Medell칤n | 6.2501  | -75.568  | 75913  | 77053  | 77926  | 78478  | 78937  | 79404  | 79892  | 80444  | 80892  | 81199  | 81409  | 81582  | 81671  | nan  | nan  | nan  | nan  | nan
... (31 rows omitted)

### `select`

La mayor칤a de las columnas tratan sobre las poblaciones de la ciudad de Medell칤n y Bogot치 en un a침o especifico, con informaci칩n sobre las coordenadas y nombre de la comuna o localidad. Si no estamos interesados en todos los detalles, la tabla puede volverse dif칤cil de leer. 

En tales situaciones, podemos usar el m칠todo de tabla `select` para elegir solo las columnas que queremos en una tabla en particular. Este m칠todo toma varios argumentos, y cada uno debe ser el nombre de una columna, el cual devuelve una nueva tabla con solo esas columnas que se presentan en el ord칠n en el que fueron enumeradas.

Por ejemplo, si queremos seleccionar solo el nombre de la comuna o localidad, las coordenadas de latitud, longitud y la poblaci칩n en el a침o 2018  de nuestra tabla `poblacion`, usar칤amos el siguiente c칩digo:

```python
poblacion_2018 = data[['LOCALIDAD', 'LATITUD', 'LONGITUD', '2018']]
```

**Pregunta 3.3.** Utilice `select` para crear una tabla con solo el LOCALIDAD, CIUDAD, LATITUD, LONGITUD y 2018. Llame a esa nueva tabla "poblacion_pos_2018". (La latitud y la longitud hacen referencia a las [coordendas geogr치ficas]( https://es.wikipedia.org/wiki/Coordenadas_geogr%C3%A1ficas#/media/Archivo:Latitud_y_Longitud_en_la_Tierra.svg) de las comunas)

*Sugerencia:* Aseg칰rese de ser exacto al usar nombres de columnas con `select`; 춰Compruebe  la escritura de las may칰sculas hasta dos o tres veces!

In [24]:
poblacion = Table.read_table('Lab02_poblacion_proyeccion_201.csv')


poblacion_2018= poblacion.select(['LOCALIDAD','Ciudad', 'LATITUD', 'LONGITUD', '2018'])
poblacion_2018

LOCALIDAD       | Ciudad   | LATITUD | LONGITUD | 2018
Popular         | Medell칤n | 6.29334 | -75.5448 | 136986
Santa Cruz      | Medell칤n | 6.29696 | -75.5549 | 113064
Manrique        | Medell칤n | 6.27506 | -75.5459 | 164858
Aranjuez        | Medell칤n | 6.27772 | -75.5626 | 141312
Castilla        | Medell칤n | 6.2937  | -75.5683 | 123992
Doce de Octubre | Medell칤n | 6.29756 | -75.5776 | 177190
Robledo         | Medell칤n | 6.27907 | -75.5888 | 189238
Villa Hermosa   | Medell칤n | 6.25853 | -75.5513 | 153216
Buenos Aires    | Medell칤n | 6.24379 | -75.5568 | 155391
La Candelaria   | Medell칤n | 6.2501  | -75.568  | 75913
... (31 rows omitted)

In [25]:
grader.check("q33")

q33 results: All test cases passed!

### `drop`

`drop` tiene el mismo prop칩sito que `select`, pero elimina las columnas que usted proporciona en lugar de las que no proporciona. Al igual que "seleccionar", "soltar" devuelve una nueva tabla.

**Pregunta 3.4.** Supongamos que simplemente no desea las columnas `Unnamed: 0` y `2031` en `poblacion`. Cree una tabla que sea una copia de `poblacion` pero que no incluya esas columnas. Llame a esa tabla `poblacion_ sin_2031`.

In [26]:
poblacion = Table.read_table("Lab02_poblacion_proyeccion_201.csv")


poblacion_sin_2031 = poblacion.drop(['Unnamed: 0', '2031'])
poblacion_sin_2031

LOCALIDAD       | Ciudad   | LATITUD | LONGITUD | 2018   | 2019   | 2020   | 2021   | 2022   | 2023   | 2024   | 2025   | 2026   | 2027   | 2028   | 2029   | 2030   | 2032 | 2033 | 2034 | 2035
Popular         | Medell칤n | 6.29334 | -75.5448 | 136986 | 140218 | 143039 | 145235 | 147382 | 149586 | 152365 | 154823 | 157097 | 159185 | 161056 | 162647 | 164029 | nan  | nan  | nan  | nan
Santa Cruz      | Medell칤n | 6.29696 | -75.5549 | 113064 | 115588 | 117744 | 119374 | 120959 | 122573 | 124610 | 126425 | 128072 | 129542 | 130835 | 131961 | 132892 | nan  | nan  | nan  | nan
Manrique        | Medell칤n | 6.27506 | -75.5459 | 164858 | 168724 | 172090 | 174692 | 177232 | 179793 | 182988 | 185895 | 188577 | 190985 | 193138 | 195105 | 196795 | nan  | nan  | nan  | nan
Aranjuez        | Medell칤n | 6.27772 | -75.5626 | 141312 | 142990 | 144233 | 144815 | 145325 | 145837 | 146611 | 147250 | 147680 | 147905 | 147885 | 147721 | 147337 | nan  | nan  | nan  | nan
Castilla        | Medell칤n | 6.2937  | -75.5683 | 123992 | 125276 | 126200 | 126587 | 126939 | 127289 | 127722 | 128067 | 128261 | 128292 | 128147 | 127765 | 127202 | nan  | nan  | nan  | nan
Doce de Octubre | Medell칤n | 6.29756 | -75.5776 | 177190 | 179493 | 181235 | 182165 | 183012 | 183889 | 185191 | 186227 | 187015 | 187521 | 187763 | 187738 | 187428 | nan  | nan  | nan  | nan
Robledo         | Medell칤n | 6.27907 | -75.5888 | 189238 | 194042 | 198274 | 201656 | 204954 | 208305 | 212453 | 216194 | 219669 | 222840 | 225717 | 228344 | 230614 | nan  | nan  | nan  | nan
Villa Hermosa   | Medell칤n | 6.25853 | -75.5513 | 153216 | 157668 | 161728 | 165061 | 168399 | 171776 | 175756 | 179508 | 183078 | 186425 | 189545 | 192463 | 195149 | nan  | nan  | nan  | nan
Buenos Aires    | Medell칤n | 6.24379 | -75.5568 | 155391 | 160045 | 164279 | 167860 | 171416 | 175014 | 179159 | 183086 | 186832 | 190341 | 193632 | 196755 | 199606 | nan  | nan  | nan  | nan
La Candelaria   | Medell칤n | 6.2501  | -75.568  | 75913  | 77053  | 77926  | 78478  | 78937  | 79404  | 79892  | 80444  | 80892  | 81199  | 81409  | 81582  | 81671  | nan  | nan  | nan  | nan
... (31 rows omitted)

In [27]:
grader.check("q34")

q34 results: All test cases passed!

Ahora supongamos que queremos responder algunas preguntas sobre la poblacion. Por ejemplo, 쯤u칠 comuna o localidad entre Medell칤n y Bogot치 tuvo la mayor poblaci칩n en el 2018?

Para responder a esto, ordenaremos `poblacion_2018` en el a침o 2018.

In [28]:
poblacion_2018.sort('2018')

LOCALIDAD                 | Ciudad   | LATITUD | LONGITUD | 2018
San Sebasti치n de Palmitas | Medell칤n | 6.22922 | -75.5649 | 5474
SUMAPAZ                   | Bogot치   | 4.03475 | -74.3152 | 6276
Santa Elena               | Medell칤n | 6.25381 | -75.5385 | 23468
LA CANDELARIA             | Bogot치   | 4.5939  | -74.0739 | 34150
Altavista                 | Medell칤n | 6.22796 | -75.607  | 38856
Guayabal                  | Medell칤n | 6.20614 | -75.5879 | 64651
La Candelaria             | Medell칤n | 6.2501  | -75.568  | 75913
La Am칠rica                | Medell칤n | 6.2507  | -75.6079 | 85416
San Antonio de Prado      | Medell칤n | 6.18333 | -75.6667 | 94801
Laureles Estadio          | Medell칤n | 6.25604 | -75.5811 | 99904
... (31 rows omitted)

Lo anterior no respondi칩 a nuestra pregunta porque ordenamos de menor a mayor la columna 2018. Para ver las longitudes m치s grandes,  tendremos que ordenar en orden inverso.

In [29]:
poblacion_2018.sort('2018', descending=True)

LOCALIDAD          | Ciudad | LATITUD | LONGITUD | 2018
SUBA               | Bogot치 | 4.7652  | -74.0824 | 2304774
KENNEDY            | Bogot치 | 4.6268  | -74.1573 | 2039496
ENGATIV츼           | Bogot치 | 4.7071  | -74.1072 | 1585036
BOSA               | Bogot치 | 4.6305  | -74.1945 | 1388794
CIUDAD BOL칈VAR     | Bogot치 | 4.5066  | -74.1539 | 1226254
USAQU칄N            | Bogot치 | 4.7485  | -74.0312 | 1071386
SAN CRISTOBAL      | Bogot치 | 4.5463  | -74.0883 | 771028
FONTIB칍N           | Bogot치 | 4.6832  | -74.1479 | 731768
RAFAEL URIBE URIBE | Bogot치 | 4.5653  | -74.1164 | 729064
USME               | Bogot치 | 4.4766  | -74.1033 | 726788
... (31 rows omitted)

(El valor de  `descending=True` se llama *argumento opcional*. Tiene un valor predeterminado( `default`) de `False`, cuando se hace explicito en la funci칩n `descending=True`, la funci칩n ordenar치 en orden descendente).

### `sort` (ordenamiento)

Algunos detalles sobre el m칠todo `sort`:

1. El primer argumento para realizar el ordenamiento "sort" es el nombre de una columna por la que ordenar.
2. Si la columna tiene texto, "sort" ordenar치 alfab칠ticamente; si la columna tiene n칰meros, se ordenar치 num칠ricamente, ambos en orden ascendente de forma predeterminada.
3. El valor de `poblacion_2018.sort("2018")` es una *copia* de `poblacion_2018`; la tabla `poblacion_2018` no se modifica. Por ejemplo, si llamamos a `poblacion_2018.sort("x")`, ejecutar `poblacion_2018` por s칤 solo a칰n devolver칤a la tabla sin clasificar.
4. Las filas siempre permanecen juntas cuando se ordena una tabla. No tendr칤a sentido ordenar solo una columna y dejar las otras columnas como est치n. Por ejemplo, en este caso, si orden치ramos solo la columna "2018", todos las poblaciones terminar칤an con las nombres del barrio incorrectas.


**Pregunta 3.5.** Cree una versi칩n de `poblacion_2018` que est칠 ordenada por la coordenada **(latitud)**, con las latitudes m치s grandes primero. Ll치melo `poblacion_2018_por_latitud`.

In [30]:

poblacion = Table.read_table("Lab02_poblacion_proyeccion_201.csv")


poblacion_2018_por_latitud= poblacion_2018.sort('LATITUD', descending=True)

poblacion_2018_por_latitud

LOCALIDAD       | Ciudad   | LATITUD | LONGITUD | 2018
Doce de Octubre | Medell칤n | 6.29756 | -75.5776 | 177190
Santa Cruz      | Medell칤n | 6.29696 | -75.5549 | 113064
Castilla        | Medell칤n | 6.2937  | -75.5683 | 123992
Popular         | Medell칤n | 6.29334 | -75.5448 | 136986
San Crist칩bal   | Medell칤n | 6.27951 | -75.6186 | 116420
Robledo         | Medell칤n | 6.27907 | -75.5888 | 189238
Aranjuez        | Medell칤n | 6.27772 | -75.5626 | 141312
Manrique        | Medell칤n | 6.27506 | -75.5459 | 164858
Villa Hermosa   | Medell칤n | 6.25853 | -75.5513 | 153216
San Javier      | Medell칤n | 6.25627 | -75.6215 | 157243
... (31 rows omitted)

In [31]:
grader.check("q35")

q35 results: All test cases passed!

Ahora queremos una tabla de todos las poblaciones solo de Medell칤n. 쮺칩mo lo podemos hacer?, vamos a usar el m칠todo `where`.

In [32]:
poblacion_bogota = poblacion_2018_por_latitud.where('Ciudad', are.equal_to('Bogot치'))
poblacion_bogota

LOCALIDAD      | Ciudad | LATITUD | LONGITUD | 2018
SUBA           | Bogot치 | 4.7652  | -74.0824 | 2304774
USAQU칄N        | Bogot치 | 4.7485  | -74.0312 | 1071386
ENGATIV츼       | Bogot치 | 4.7071  | -74.1072 | 1585036
FONTIB칍N       | Bogot치 | 4.6832  | -74.1479 | 731768
BARRIOS UNIDOS | Bogot치 | 4.6664  | -74.084  | 266252
CHAPINERO      | Bogot치 | 4.6569  | -74.0467 | 312958
TEUSAQUILLO    | Bogot치 | 4.6448  | -74.0938 | 289052
BOSA           | Bogot치 | 4.6305  | -74.1945 | 1388794
KENNEDY        | Bogot치 | 4.6268  | -74.1573 | 2039496
PUENTE ARANDA  | Bogot치 | 4.6149  | -74.1227 | 485810
... (10 rows omitted)

In [33]:
poblacion_bogota = poblacion_2018_por_latitud.where('Ciudad', are.equal_to('Bogot치'))
poblacion_bogota

LOCALIDAD      | Ciudad | LATITUD | LONGITUD | 2018
SUBA           | Bogot치 | 4.7652  | -74.0824 | 2304774
USAQU칄N        | Bogot치 | 4.7485  | -74.0312 | 1071386
ENGATIV츼       | Bogot치 | 4.7071  | -74.1072 | 1585036
FONTIB칍N       | Bogot치 | 4.6832  | -74.1479 | 731768
BARRIOS UNIDOS | Bogot치 | 4.6664  | -74.084  | 266252
CHAPINERO      | Bogot치 | 4.6569  | -74.0467 | 312958
TEUSAQUILLO    | Bogot치 | 4.6448  | -74.0938 | 289052
BOSA           | Bogot치 | 4.6305  | -74.1945 | 1388794
KENNEDY        | Bogot치 | 4.6268  | -74.1573 | 2039496
PUENTE ARANDA  | Bogot치 | 4.6149  | -74.1227 | 485810
... (10 rows omitted)

Ignora la sintaxis por el momento. En su lugar, intenta leer esa l칤nea as칤:

> Asigne el nombre **`poblacion_medellin`** a una tabla cuyas filas son las filas de la tabla **`poblacion_2018_por_latitud`** **`donde`**  la **`"Ciudad"`** es igual a Medell칤n (**` are equal to` `"Bogot치"`**)

### `where`

Ahora profundicemos un poco m치s en los detalles. `where` toma 2 argumentos:

1. El nombre de una columna. `where` busca filas donde los valores de esa columna cumplen alg칰n criterio.
2. Un predicado que describe el criterio que debe cumplir la columna.

El predicado en el ejemplo anterior llam칩 a la funci칩n `are.equal_to` con el valor que quer칤amos, 'Bogot치'. Pronto veremos otros predicados.

`where` devuelve una tabla que es una copia de la tabla original, pero **con solo las filas que cumplen el predicado dado**.

**Pregunta 3.6.** Utilice la tabla `poblacion` para crear una tabla llamada `poblacion_medellin` que contenga  la poblaci칩n de Medell칤n, ordenada de menor a mayor en a침o `2018`

In [34]:

poblacion_medellin= poblacion.where('Ciudad', are.equal_to('Medell칤n')).sort('2018')

poblacion_medellin

Unnamed: 0 | LOCALIDAD                 | Ciudad   | LATITUD | LONGITUD | 2018   | 2019   | 2020   | 2021   | 2022   | 2023   | 2024   | 2025   | 2026   | 2027   | 2028   | 2029   | 2030   | 2031 | 2032 | 2033 | 2034 | 2035
16         | San Sebasti치n de Palmitas | Medell칤n | 6.22922 | -75.5649 | 5474   | 5689   | 5885   | 6073   | 6281   | 6485   | 6712   | 6936   | 7151   | 7365   | 7577   | 7787   | 7989   | nan  | nan  | nan  | nan  | nan
20         | Santa Elena               | Medell칤n | 6.25381 | -75.5385 | 23468  | 24953  | 26464  | 27916  | 29413  | 31002  | 32855  | 34715  | 36606  | 38536  | 40509  | 42551  | 44644  | nan  | nan  | nan  | nan  | nan
18         | Altavista                 | Medell칤n | 6.22796 | -75.607  | 38856  | 40150  | 41350  | 42442  | 43556  | 44665  | 45978  | 47189  | 48379  | 49542  | 50641  | 51659  | 52627  | nan  | nan  | nan  | nan  | nan
14         | Guayabal                  | Medell칤n | 6.20614 | -75.5879 | 64651  | 65011  | 65146  | 65024  | 64856  | 64713  | 64509  | 64320  | 64052  | 63691  | 63261  | 62714  | 62086  | nan  | nan  | nan  | nan  | nan
9          | La Candelaria             | Medell칤n | 6.2501  | -75.568  | 75913  | 77053  | 77926  | 78478  | 78937  | 79404  | 79892  | 80444  | 80892  | 81199  | 81409  | 81582  | 81671  | nan  | nan  | nan  | nan  | nan
11         | La Am칠rica                | Medell칤n | 6.2507  | -75.6079 | 85416  | 86403  | 87128  | 87489  | 87849  | 88207  | 88382  | 88714  | 88925  | 89020  | 89028  | 88931  | 88710  | nan  | nan  | nan  | nan  | nan
19         | San Antonio de Prado      | Medell칤n | 6.18333 | -75.6667 | 94801  | 99358  | 103822 | 107996 | 112336 | 116838 | 121944 | 126953 | 131958 | 137011 | 142026 | 146934 | 151793 | nan  | nan  | nan  | nan  | nan
10         | Laureles Estadio          | Medell칤n | 6.25604 | -75.5811 | 99904  | 100749 | 101316 | 101473 | 101632 | 101796 | 101396 | 101487 | 101456 | 101296 | 101045 | 100710 | 100257 | nan  | nan  | nan  | nan  | nan
13         | El Poblado                | Medell칤n | 6.20062 | -75.5637 | 106805 | 108345 | 109600 | 110479 | 111343 | 112257 | 112850 | 113594 | 114223 | 114730 | 115127 | 115272 | 115267 | nan  | nan  | nan  | nan  | nan
1          | Santa Cruz                | Medell칤n | 6.29696 | -75.5549 | 113064 | 115588 | 117744 | 119374 | 120959 | 122573 | 124610 | 126425 | 128072 | 129542 | 130835 | 131961 | 132892 | nan  | nan  | nan  | nan  | nan
... (11 rows omitted)

In [35]:
grader.check("q36")

q36 results: All test cases passed!

Hasta ahora solo hemos estado usando `where` con el criterio o condici칩n que requiere encontrar que los valores en una columna sean *exactamente* iguales a un cierto valor. Sin embargo, hay muchos otros criterios. Hemos enumerado algunos de los m치s comunes a continuaci칩n, pero si desea una lista m치s completa, consulte la secci칩n de predicados en la [hoja de referencia de Python](https://www.data8.org/fa23/reference/#tablewhere-predicates).


|Predicado|Ejemplo|Resultado|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Encuentra las filas con valores iguales a 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Encuentra las filas con valores diferentes a 50|
|`are.above`|`are.above(50)`|Encuentra las filas con valores mayores (y no iguales) a 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Encuentra las filas con valores mayores o iguales a 50|
|`are.below`|`are.below(50)`|Encuentra las filas con valores menores a 50|
|`are.between`|`are.between(2, 10)`|Encuentra las filas con valores mayores o iguales a 2 y menores a 10|
|`are.between_or_equal_to`|`are.between_or_equal_to(2, 10)`|Encuentra las filas con valores mayores o iguales a 2 y menores o iguales a 10|

## 4. Analizando un conjunto de datos

Ahora que est치 familiarizado con las operaciones de tablas, 춰respondamos una pregunta interesante sobre un conjunto de datos!

Ejecute la siguiente celda para cargar la tabla `imdb`. Contiene informaci칩n sobre las 250 pel칤culas mejor calificadas en IMDb.

In [36]:
# Simplemente ejecuta esta celda
imdb = Table.read_table(f'imdb.csv')
imdb

Votes  | Rating | Title                 | Year | Decade
88355  | 8.4    | M                     | 1931 | 1930
132823 | 8.3    | Singin' in the Rain   | 1952 | 1950
74178  | 8.3    | All About Eve         | 1950 | 1950
635139 | 8.6    | L칠on                  | 1994 | 1990
145514 | 8.2    | The Elephant Man      | 1980 | 1980
425461 | 8.3    | Full Metal Jacket     | 1987 | 1980
441174 | 8.1    | Gone Girl             | 2014 | 2010
850601 | 8.3    | Batman Begins         | 2005 | 2000
37664  | 8.2    | Judgment at Nuremberg | 1961 | 1960
46987  | 8      | Relatos salvajes      | 2014 | 2010
... (240 rows omitted)

A menudo, queremos realizar m칰ltiples operaciones (clasificar, filtrar u otras) para convertir una tabla que tenemos en algo m치s 칰til. Puede realizar estas operaciones una por una, por ejemplo.

```
first_step = original_tbl.where(띾ol1, are.equal_to(12))
second_step = first_step.sort(딲ol2, descending=True)
```
Sin embargo, dado que el valor de la expresi칩n `original_tbl.where(띾ol1, are.equal_to(12))` es en s칤 mismo una tabla, puedes simplemente llamar a un m칠todo de tabla en 칠l:
```
original_tbl.where(띾ol1, are.equal_to(12)).sort(딲ol2, descending=True)
```
Debe organizar su trabajo de la manera que tenga m치s sentido para usted, utilizando nombres informativos para las tablas intermedias que cree.

**Pregunta 4.1.** Cree una tabla de pel칤culas estrenadas entre 2010 y 2015 (inclusive) con calificaciones superiores a 8. La tabla solo debe contener las columnas `Title` and `Rating`, **en ese orden**.

Asigne la tabla al nombre `above_eight`.

*Pista:* Piensa en los pasos que debes seguir e intenta ordenarlos en un orden que tenga sentido. 춰Si칠ntete libre de crear tablas intermedias para cada paso, pero aseg칰rate de asignar a tu tabla final el nombre "above_eight"!

In [37]:
imdb = Table.read_table('imdb.csv')


peliculas_2010_2015 = imdb.where('Year', are.between_or_equal_to(2010,2015))
above_eight =  peliculas_2010_2015.where('Rating', are.above(8)).select(['Title', 'Rating'])
above_eight

Title                    | Rating
Gone Girl                | 8.1
Warrior                  | 8.2
Intouchables             | 8.5
Shutter Island           | 8.1
12 Years a Slave         | 8.1
Inside Out (2015/I)      | 8.5
Jagten                   | 8.2
Toy Story 3              | 8.3
How to Train Your Dragon | 8.1
Interstellar             | 8.6
... (10 rows omitted)

In [38]:
grader.check("q41")

q41 results: All test cases passed!

**Pregunta 4.2.** Utilice el m칠todo `num_rows` (y aritm칠tica) para encontrar la *proporci칩n* de pel칤culas en el `dataset` que se estrenaron entre 1900 y 1999, y la *proporci칩n* de pel칤culas en el `dataset` que se estrenaron en el a침o 2000 칩 despu칠s.

Asigne una tabla "proporcion_en_siglo_20" a el n칰mero de pel칤culas en el `dataset` que se estrenaron entre 1900 y 1999, y "proporcion_en_siglo_21" a el n칰mero de pel칤culas en el `dataset` que se estrenaron en el a침o 2000 o despu칠s.

*Pista:* La *proporci칩n* de pel칤culas estrenadas en el siglo XX es la *proporci칩n* de pel칤culas estrenadas en el siglo XX, dividida por el *n칰mero total* de pel칤culas.

In [39]:
imdb = Table.read_table('imdb.csv')


num_peliculas_en_dataset = imdb.num_rows
num_en_siglo_20 = imdb.where('Year', are.between_or_equal_to(1900,1999)).num_rows
num_en_siglo_21 = imdb.where('Year', are.above(1999)).num_rows
proporcion_siglo_20 = num_en_siglo_20 / num_peliculas_en_dataset
proporcion_siglo_21 = num_en_siglo_21 / num_peliculas_en_dataset


print("Proporcion en el siglo  20 :", proporcion_siglo_20)
print("Proporcion en el siglo  21 :", proporcion_siglo_21)

Proporcion en el siglo  20 : 0.684
Proporcion en el siglo  21 : 0.316

In [40]:
grader.check("q42")

q42 results: All test cases passed!

## 5. Resumen

Para su referencia, aqu칤 hay una tabla de todas las funciones y m칠todos que vimos en esta pr치ctica de laboratorio. 춰Aprenderemos m치s m칠todos para agregar a esta tabla la pr칩xima semana!

|Nombre|Ejemplo|Prop칩sito|
|-|-|-|
|`sort`|`tbl.sort("N")`|Crear una copia de una tabla ordenada por los valores de una columna|
|`where`|`tbl.where("N", are.above(2))`|Crea una copia de una tabla con solo las filas que coinciden con alg칰n *predicado*|
|`num_rows`|`tbl.num_rows`|Calcular el n칰mero de filas en una tabla|
|`num_columns`|`tbl.num_columns`|Calcular el n칰mero de columnas en una tabla|
|`select`|`tbl.select("N")`|Crear una copia de una tabla con solo algunas de las columnas|
|`drop`|`tbl.drop("N")`|Crear una copia de una tabla sin algunas de las columnas|

**춰Lego** quiere felicitarte por terminar el Laboratorio 2!

<img src="Fig_03_lego.png" alt="Picture of brown cavalier poodle dog" width="300"/>


---

춰Terminaste con el laboratorio!

**Informaci칩n importante sobre el env칤o:**
- **Ejecuta todas las pruebas** y verifica que todas pasan
- **Guardar** desde el men칰 **Archivo**
- **Ejecute la celda final **
- Luego, ve a este [enlace](https://cienciadatosudea.github.io/001_SitioWebFundCienciaDatos/04entregas.html) y env칤a el archivo ipynb a la tarea correspondiente. El nombre de esta tarea es "Lab XX Autograder", donde XX es el n칰mero de laboratorio: 01, 02, 03, etc.

- Si terminas temprano en el laboratorio regular, **registra tu asistencia con el instructor**.

**Es su responsabilidad asegurarse de que su trabajo est칠 guardado antes de ejecutar la 칰ltima celda.**

`Referencia`: Este material esta basado en [Data 8: The Foundations of Data Science](https://www.data8.org/) - University of California, Berkeley.

## Env칤o

Aseg칰rese de haber ejecutado todas las celdas de su cuaderno en orden antes de ejecutar la siguiente celda, para que todas las im치genes/gr치ficos aparezcan en el resultado. La siguiente celda generar치 un archivo zip para que lo env칤e. **춰Guarde antes de exportar!**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

These are some submission instructions.

In [41]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)

Running your submission against local test cases...


Your submission received the following results when run against available test cases:

    q11 results: All test cases passed!

    q21 results: All test cases passed!

    q211 results: All test cases passed!

    q32 results: All test cases passed!

    q33 results: All test cases passed!

    q34 results: All test cases passed!

    q35 results: All test cases passed!

    q36 results: All test cases passed!

    q41 results: All test cases passed!

    q42 results: All test cases passed!