In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab03.ipynb")

<a href="https://colab.research.google.com/github/develop_otter/material_20242/blob/main/lab/lab01/lab01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import otter
import pandas as pd
import numpy as np
import math 
import matplotlib.pylab as plt
from datascience import *
%matplotlib inline

<p><img alt="Colaborat" style="height: 220px;" src="https://github.com/CienciaDatosUdea/001_DataSetFundCienciaDatos/blob/main/semestre2024-2/lab/lab02/Escudo-UdeA.svg.png?raw=true" align="left" hspace="10px" vspace="0px"></p>


# Fundamentos en ciencias de datos


## Laboratorio 3: Operaciones con tablas

¡Bienvenidos al Laboratorio 2! Esta semana, aprenderemos cómo importar un módulo y prácticaremos operaciones con tablas. Algunas referencias estan dadas en el siguiente  [enlace](https://www.data8.org/fa23/reference/), el cual tiene información útil para este práctica de laboratorio.

**Lectura recomendada**:
  * [Introducción a las Tablas](https://www.inferentialthinking.com/chapters/03/4/Introduction_to_Tables)

Como recordatorio, estas son las políticas para obtener una nota completa:

1. Recuerden que  recibiran el 80% del laboratorio solo con **asistir** a la sección de los viernes laboratorio y lograr un progreso significativo en ```notebook de jupyter```.



**Envío**: Una vez que haya terminado, ejecute todas las celdas además de la última, seleccione Archivo > Guardar cuaderno y luego ejecute la celda final. El resultado contendrá un archivo zip que podrá utilizar para enviarlo.

Comencemos configurando las pruebas e importaciones ejecutando la siguiente celda.

<!-- BEGIN QUESTION -->

Ingrese su nombre en la siguiente celda:
```python
Nombre = "Ada Lovelace"
Carnet =  "3,141592...."
```

In [3]:
Nombre = "Gustavo Castrillon"
Carnet = "66666666666"

<!-- END QUESTION -->

# 1. Texto
La programación no se trata sólo de números. El texto es uno de los tipos de datos más comunes utilizados en los programas.

El texto está representado por un valor tipo **`string`** en Python. La palabra valor `string` es un término de programación para una secuencia de caracteres. Una cadena puede contener un solo carácter, una palabra, una oración o un libro completo.

Para distinguir los datos de texto del código real, delimitamos las cadenas poniéndolas entre comillas. Las comillas simples (`'`) y las comillas dobles (`"`) son válidas, pero los tipos de comillas de apertura y cierre deben coincidir. El contenido puede ser cualquier secuencia de caracteres, incluidos números y símbolos.

Hemos visto cadenas antes en declaraciones `print` A continuación, se pasan dos cadenas diferentes como argumentos a la función`print` function.

In [4]:
print("I <3", 'Data Science')

I <3 Data Science

Así como se pueden dar nombres a los números, se pueden dar nombres a los valores de cadena. No es necesario que los nombres y las cadenas sean similares de ningún modo. Se puede asignar cualquier nombre a cualquier cadena.

In [5]:
one = 'two'
plus = '*'
print(one, plus, one)

two * two

**Pregunta 1.1.** Yuri Gagarin fue la primera persona en viajar por el espacio exterior. Cuando salió de su cápsula al aterrizar en la Tierra, [según se informa](https://en.wikiquote.org/wiki/Yuri_Gagarin), tuvo la siguiente conversación con una mujer y una niña que vieron el aterrizaje:

```text

     La mujer preguntó: "¿Será que has venido del espacio exterior?"
     Gagarin respondió: "¡De hecho, sí!"
```
La siguiente celda contiene código sin terminar. Complete los `...`s para que imprima esta conversación **exactamente** como aparece arriba, incluida las expresiones :     `La mujer preguntó`,      `Gagarin respondió.`  

Sugerencia: Investiga cómo se define las comillas en python, la solución debera estar almacenada en las variables que aparecen más abajo, los print automáticamente la mostrarán

In [6]:
mujer_preguntando = 'La mujer preguntó:'
cita_mujer = '"¿Será que has venido del espacio exterior?"'
respuesta_de_gagarin = 'Gagarin respondió:'
cita_de_gagarin = '"¡De hecho, sí!"'

print(mujer_preguntando, cita_mujer)
print(respuesta_de_gagarin, cita_de_gagarin)

La mujer preguntó: "¿Será que has venido del espacio exterior?"
Gagarin respondió: "¡De hecho, sí!"

In [7]:
grader.check("q11")

q11 results:
    q11 - 1 result:
        ✅ Test case passed

    q11 - 2 result:
        ❌ Test case failed
        Trying:
            assert np.isclose(poblacion_cruzo_6B, 1999, 0.01)
        Expecting nothing
        **********************************************************************
        Line 1, in q11 1
        Failed example:
            assert np.isclose(poblacion_cruzo_6B, 1999, 0.01)
        Exception raised:
            Traceback (most recent call last):
              File "/opt/conda/lib/python3.11/doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q11 1[0]>", line 1, in <module>
                assert np.isclose(poblacion_cruzo_6B, 1999, 0.01)
                                  ^^^^^^^^^^^^^^^^^^
            NameError: name 'poblacion_cruzo_6B' is not defined

## 1.1. Métodos de string

Las cadenas se pueden transformar usando **métodos**. Recuerde que métodos y funciones no son lo mismo. Aquí está la sección del libro de texto sobre métodos de cadena: [4.2.1 Métodos de cadena](https://inferentialthinking.com/chapters/04/2/1/String_Methods.html).

Aquí hay un bosquejo de cómo llamar a métodos en una cadena:

     <expresión que se evalúa como una cadena>.<nombre del método>(<argumento>, <argumento>, ...)
    
Un ejemplo de un método de cadena es "replace", que reemplaza todas las instancias de alguna parte de la cadena original (o una *subcadena*) con una nueva cadena.

     <cadena original>.replace(<subcadena antigua>, <subcadena nueva>)
    
`replace` devuelve (evalúa) una nueva cadena, dejando la cadena original sin cambios.
    
Intente predecir el resultado de este ejemplo y luego ejecute la celda.

In [8]:
# Reemplazar una letra
bag = 'bag'
print(bag.replace('g', 't'), bag)

bat bag

Puede llamar funciones sobre los resultados de otras funciones. Por ejemplo, `max(abs(-5), abs(3))` se evalúa como 5. De manera similar, puede llamar a métodos según los resultados de otras llamadas a métodos o funciones.

Es posible que ya hayas notado una diferencia entre funciones y métodos: una función como `max` no requiere un `.` antes de ser llamada, pero un método de cadena como `replace` sí. La referencia de Python a la que se hace referencia en el párrafo inicial puede resultar útil en los casos en los que no esté seguro de cómo llamar a una función o método.

In [9]:
# Calling replace on the output of another call to replace
'carro'.replace('c', 'b').replace('rr', 'cala')

'bacalao'

Aquí tienes una imagen de cómo Python evalúa una llamada de método "encadenada" como esa.
<img src="chaining_method_calls.png"/>

**Pregunta 1.1.1.** Usa `replace`  para transformar la cadena 'perro' en 'gorro'. Asigna tu resultado a nueva_palabra

In [10]:
nueva_palabra = 'perro'.replace('p','g').replace('e','o')
nueva_palabra

'gorro'

Hay muchos más métodos de cadenas en Python, pero la mayoría de los programadores no memorizan sus nombres ni cómo usarlos. En el "mundo real", la gente normalmente simplemente busca documentación y ejemplos en Internet. Una [lista completa de métodos de cadena](https://docs.python.org/3/library/stdtypes.html#string-methods) aparece en la documentación del lenguaje Python. [Stack Overflow](http://stackoverflow.com) tiene una enorme base de datos de preguntas respondidas que a menudo demuestran cómo utilizar estos métodos para lograr diversos fines. El material cubierto en estos recursos que aún no se haya presentado en esta clase estará fuera de alcance.

## 1.2. Conversión hacia y desde cadenas

Las cadenas y los números son *tipos* diferentes de valores, incluso cuando una cadena contiene los dígitos de un número. Por ejemplo, evaluar la siguiente celda provoca un error porque no se puede agregar un número entero a una cadena.

In [11]:
8 + "8"

TypeError: unsupported operand type(s) for +: 'int' and 'str'


|Función |Descripción|
|-|-|
|`int`|Convierte una cadena de dígitos o un valor flotante en un valor entero ("int")|
|`float`|Convierte una cadena de dígitos (quizás con un punto decimal) o un int en un valor decimal ("flotante")|
|`str`|Convierte cualquier valor en una cadena|

Intente predecir qué tipo de datos y valor se evalúa "ejemplo", luego ejecute la celda.

In [12]:
example = 8 + int("10") + float("8")

print(example)
print("Este ejemplo devolvió un" + str(type(example)) + "!")

26.0
Este ejemplo devolvió un<class 'float'>!

Supongamos que está escribiendo un programa que busca fechas en un texto y desea que su programa encuentre la cantidad de tiempo que transcurrió entre dos años que identificó. No tiene sentido restar dos textos, pero primero puedes convertir el texto que contiene los años en números.

**Pregunta 1.2.1.** Complete el siguiente código para calcular el número de años que transcurrieron entre "un_anio" y "otro_anio". No escriba simplemente los números "1618" y "1648"; **Utilice una función de conversión para convertir los datos de texto dados en números**

In [13]:

# Notese que estan definidos como string, intente usar la función de conversión de string a float
un_anio = "1618"
otro_anio = "1648"
diferencia = float(otro_anio) - float(un_anio)

In [14]:
grader.check("q2")

q2 results: All test cases passed!

## 1.3. Pasar cadenas a funciones

Los valores de cadena, como los números, pueden ser argumentos de funciones y pueden ser devueltos por funciones.

La función `len` (derivada de la palabra "longitud") toma una sola cadena como argumento y devuelve el número de caracteres (incluidos espacios) en la cadena.

Tenga en cuenta que no cuenta *palabras*. `len("un pequeño paso para el hombre")` se evalúa como 22 caracteres, no 5 palabras.

**Pregunta 1.3.1.** Utilice `len` para encontrar la cantidad de caracteres en la cadena larga en la siguiente celda. Los caracteres incluyen cosas como espacios y puntuación. Asigne `sentence_length` a ese número.

La cadena es la primera oración de la traducción al español de la [Declaración de los Derechos del Hombre](http://avalon.law.yale.edu/18th_century/rightsof.asp) en francés.

In [15]:

# Note que estan definidos como string, intente usar la función de conversión de string a float
una_frase_larga = "Los Representantes del Pueblo Francés, constituidos en Asamblea Nacional, considerando que la ignorancia, el olvido o el menosprecio de los derechos del Hombre son las únicas causas de las calamidades públicas y de la corrupción de los Gobiernos, han resuelto exponer, en una Declaración solemne, los derechos naturales, inalienables y sagrados del Hombre, para que esta declaración, constantemente presente para todos los Miembros del cuerpo social, les recuerde sin cesar sus derechos y sus deberes; para que los actos del poder legislativo y del poder ejecutivo, al poder cotejarse en todo momento con la finalidad de cualquier institución política, sean más respetados y para que las reclamaciones de los ciudadanos, fundadas desde ahora en principios simples e indiscutibles, redunden siempre en beneficio del mantenimiento de la Constitución y de la felicidad de todos."
longitud_oracion = len(una_frase_larga)
longitud_oracion

875

In [16]:
grader.check("q3")

q3 results: All test cases passed!

# 2. Arreglos

Las computadoras son más útiles cuando puedes usar una pequeña cantidad de código para *realizar la misma acción* en *muchas cosas diferentes*.

Por ejemplo, en el tiempo que le lleva calcular el 18% en la factura de un restaurante, una computadora portátil puede calcular el 18% de cada factura del restaurante pagada por un ser humano en la Tierra ese día. (¡Eso es si eres bastante rápido haciendo aritmética mentalmente!)

**Las matrices** son la forma en que colocamos muchos valores en un solo lugar para poder operar con ellos como un grupo. Por ejemplo, si `billions_of_numbers` es una matriz de números, la expresión

     .18 *billions_of_numbers,

proporciona una nueva matriz de números que contiene el resultado de multiplicar **cada número** en `billions_of_numbers` por 0,18. Las matrices no se limitan a números; También podemos poner todas las palabras de un libro en una serie de cadenas.

Concretamente, una matriz es una **colección de valores del mismo tipo**.

## 2.1. Construir *array*

Primero, aprendamos cómo ingresar valores manualmente en un arreglo. Por lo general, cuando se hace ciencia de datos, creamos los arreglos cargándolas desde una fuente externa, como un archivo de datos, otras veces, cuando se hace computación científica, debemos construir los arreglos desde cero. 

Para crear una arreglo en python, llame a la función `make_array`. Cada argumento que pase a `make_array` estará en la matriz que devuelve. Ejecute la siguiente celda para ver un ejemplo:

In [17]:
make_array(0.125, 4.75, -1.3)

array([ 0.125,  4.75 , -1.3  ])

Cada valor de un arreglo (en el caso anterior, los números 0,125, 4,75 y -1,3) se denomina *elemento* de esa arreglo.



Los arreglos en sí mismo no solo contienen datos, sino que son considerados como un tipo de dato, así como los números y las cadenas (`string`). Eso significa que puedes asignarlos a nombres o usarlos como argumentos para funciones. Por ejemplo, `len(<some_array>)` devuelve el número de elementos en `some_array`.

**Pregunta 2.1.1.** Haz una matriz que contenga los números 0, 1, -1 y $\pi$, en ese orden. Nómbrelo "numeros_interesantes".

*Pista:* ¿Cómo obtuviste el valor $\pi$ en el laboratorio 2? Puedes consultarlo de la misma manera aquí. El módulo "math" se importó en la parte superior de este cuaderno.

In [18]:

numeros_interesantes = make_array(0,1,-1,math.pi)

numeros_interesantes

array([ 0.        ,  1.        , -1.        ,  3.14159265])

In [19]:
grader.check("q4")

q4 results: All test cases passed!

**Pregunta 2.1.2.** Cree una arreglo que contenga las cinco cadenas `"Hola"`, `","`, `" "`, `"mundo"` y `"!"`. (El tercero es un espacio único entre comillas). Nómbralo `hola_mundo_components`.

*Nota:* Si evalúa `hola_mundo_components`, notará información adicional además de su contenido: `dtype='<U5'`. Esa es simplemente la forma extremadamente críptica que tiene NumPy de decir que los tipos de datos en la matriz son cadenas.

In [20]:

hola_mundo_components = make_array('Hola', ',',' ', 'mundo', '!')
hola_mundo_components

array(['Hola', ',', ' ', 'mundo', '!'],
      dtype='<U5')

In [21]:
grader.check("q5")

q5 results: All test cases passed!

### `np.arange`
Los arreglos los proporciona un paquete llamado [NumPy](http://www.numpy.org/) (pronunciado "NUM-pie"). El paquete se llama "numpy", pero es estándar cambiarle el nombre a "np" por brevedad. Puedes hacerlo con:

```python
 import numpy como np
```

Muy a menudo, en la ciencia de datos, queremos trabajar con muchos números que estén espaciados uniformemente dentro de algún rango. NumPy proporciona una función especial  llamada `arange`. La línea de código `np.arange(start, stop, step)` se evalúa como un arreglo con todos los números comenzando en `start` y contando `step`, deteniéndose **antes** de llegar a `stop`.

Ejecute las siguientes celdas para ver algunos ejemplos.

In [22]:
# Esta matriz comienza en 1 y cuenta hasta 2
# y luego se detiene antes de las 6
np.arange(1, 6, 2)

array([1, 3, 5])

In [23]:
# Esta matriz no contiene 9
# porque np.arange se detiene *antes* de alcanzar el valor de parada
np.arange(4, 9, 1)

array([4, 5, 6, 7, 8])

**Pregunta 2.1.3.** Importe `numpy` como `np` y luego use `np.arange` para crear un arreglo con múltiplos de 99 desde 0 hasta (**e incluyendo**) 9999. (Entonces sus elementos son 0, 99, 198, 297, etc.)

In [24]:
import numpy as np 
multiplos_de_99 = np.arange(0,9999+1,99)
multiplos_de_99

array([   0,   99,  198,  297,  396,  495,  594,  693,  792,  891,  990,
       1089, 1188, 1287, 1386, 1485, 1584, 1683, 1782, 1881, 1980, 2079,
       2178, 2277, 2376, 2475, 2574, 2673, 2772, 2871, 2970, 3069, 3168,
       3267, 3366, 3465, 3564, 3663, 3762, 3861, 3960, 4059, 4158, 4257,
       4356, 4455, 4554, 4653, 4752, 4851, 4950, 5049, 5148, 5247, 5346,
       5445, 5544, 5643, 5742, 5841, 5940, 6039, 6138, 6237, 6336, 6435,
       6534, 6633, 6732, 6831, 6930, 7029, 7128, 7227, 7326, 7425, 7524,
       7623, 7722, 7821, 7920, 8019, 8118, 8217, 8316, 8415, 8514, 8613,
       8712, 8811, 8910, 9009, 9108, 9207, 9306, 9405, 9504, 9603, 9702,
       9801, 9900, 9999])

In [25]:
grader.check("q6")

q6 results: All test cases passed!

## 2.2. Trabajar con elementos individuales de arreglos ("indexación")

Trabajemos con un conjunto de datos más interesante. La siguiente celda crea un arreglo llamado "poblacion" que incluye las poblaciones mundiales estimadas de cada año desde **1950** hasta aproximadamente el **presente**. (Las estimaciones provienen del sitio web de la Oficina del Censo de EE. UU.).

En lugar de escribir los datos manualmente, los hemos cargado desde un archivo en su computadora llamado `poblacion_mundial.csv`. ¡Aprenderá cómo hacerlo más adelante en esta práctica de laboratorio!

In [26]:
poblacion = Table.read_table("poblacion_mundial.csv").column("Poblacion")
poblacion

array([2557628654, 2594939877, 2636772306, 2682053389, 2730228104,
       2782098943, 2835299673, 2891349717, 2948137248, 3000716593,
       3043001508, 3083966929, 3140093217, 3209827882, 3281201306,
       3350425793, 3420677923, 3490333715, 3562313822, 3637159050,
       3712697742, 3790326948, 3866568653, 3942096442, 4016608813,
       4089083233, 4160185010, 4232084578, 4304105753, 4379013942,
       4451362735, 4534410125, 4614566561, 4695736743, 4774569391,
       4856462699, 4940571232, 5027200492, 5114557167, 5201440110,
       5288955934, 5371585922, 5456136278, 5538268316, 5618682132,
       5699202985, 5779440593, 5857972543, 5935213248, 6012074922,
       6088571383, 6165219247, 6242016348, 6318590956, 6395699509,
       6473044732, 6551263534, 6629913759, 6709049780, 6788214394,
       6866332358, 6944055583, 7022349283, 7101027895, 7178722893,
       7256490011])

Así es como obtenemos el primer elemento de "poblacion", que es la población mundial en el primer año del conjunto de datos, 1950.

In [27]:
poblacion.item(0)

2557628654

El numero anterior lo podemos mostrar en notacion científica o separado por comas, como se muestra en la siguiente celda:

In [28]:
print(f"Numero en notación científica {poblacion.item(0):.6e}")
print(f"Numero mostrado separado por comas {poblacion.item(0):,}")

Numero en notación científica 2.557629e+09
Numero mostrado separado por comas 2,557,628,654

El valor de esa expresión es el número **2.557.628.654** (alrededor de 2.500 millones), porque eso es lo primero en el arreglo `poblacion`.

Observe que escribimos `.item(0)`, no `.item(1)`, para obtener el primer elemento. Esta es una convención extraña en informática. **0 se llama *índice* del primer elemento.** Es el número de elementos que aparecen *antes* de ese elemento. Entonces 3 es el índice del cuarto elemento.

Aquí hay algunos ejemplos más. En los ejemplos, hemos dado nombres a las cosas que obtenemos de `poblacion`. Lea y ejecute cada celda.

In [29]:
# El decimotercer elemento de la matriz es la población.
# en 1962 (que es 1950 + 12).
poblacion_1962 = poblacion.item(12)
poblacion_1962

3140093217

In [30]:
# El elemento 66 es la población en 2015.
poblacion_2015 = poblacion.item(65)
poblacion_2015

7256490011

In [31]:
# La matriz tiene sólo 66 elementos, por lo que esto no funciona.
# (No hay ningún elemento con otros 66 elementos antes).
poblacion_2016 = poblacion.item(66)
poblacion_2016

IndexError: index 66 is out of bounds for axis 0 with size 66

Dado que `make_array` devuelve una matriz, podemos llamar a `.item(3)` en su salida para obtener su cuarto elemento, esta operación de encadenación, es análoga a la que utilizamos con método `replace` al inicio de este notebook.

In [32]:
make_array(-1, -3, 4, -2).item(3)

-2

**Pregunta 2.2.1.**  Asigne a la variable `poblacion_1973` el valor de la población mundial correspondiente al año **1973**, extrayendo el elemento adecuado de tabla `poblacion_mundial` mediante el método `item`.

In [33]:
#1973 - 1950 = 23 
poblacion_1973 = poblacion.item(23)
poblacion_1973

3942096442

In [34]:
grader.check("q7")

q7 results: All test cases passed!

## 2.3. Realicemos operaciones con los elementos de un arreglo. 

Los arreglos son principalmente útiles para realizar la misma operación muchas veces, por lo que no tenemos que usar `.item` y trabajar con elementos individuales con frecuencia.

### Redondeo
Aquí hay una pregunta simple que podríamos hacer sobre la población mundial:

> ¿Qué tamaño tenía la población cada año, redondeado al millón más cercano?

El redondeo se utiliza a menudo con **números grandes** cuando no necesitamos tanta **precisión** en nuestros números. Un ejemplo de esto es cuando presentamos datos en tablas y visualizaciones.

Podríamos intentar responder nuestra pregunta usando la función `round` que está integrada en Python y el método `item` que acabas de ver.

**Nota:** la función `round` toma dos argumentos: el número que se va a redondear y el número de decimales a los que se va a redondear. 

El segundo argumento se puede considerar como cuántos pasos hacia la derecha o hacia la izquierda se mueve desde el punto decimal. Los números negativos nos dicen que nos movamos hacia la izquierda y los números positivos nos dicen que nos movamos hacia la derecha. Entonces, si tenemos `round (1234.5, -2)`, significa que debemos movernos dos lugares hacia la izquierda y luego convertir todos los números a la derecha de este lugar en ceros. Esto generaría el número 1200.0. Por otro lado, si tenemos `round(6.789, 1)`, debemos movernos un lugar a la derecha y luego convertir todos los números a la derecha de este lugar en ceros. Esto generaría el número 6,8.

In [35]:
poblacion_1950_magnitude = round(poblacion.item(0), -6)
poblacion_1951_magnitude = round(poblacion.item(1), -6)
poblacion_1952_magnitude = round(poblacion.item(2), -6)
poblacion_1953_magnitude = round(poblacion.item(3), -6)

**Pero esto es tedioso y realmente no aprovecha el hecho de que estamos usando una computadora**

En cambio, NumPy proporciona su propia versión de "round" que redondea cada elemento de un arreglo. Esta función, toma dos argumentos: una único arreglo de números y el número de decimales a redondear, y  devuelve una matriz de la misma longitud, donde el primer elemento del resultado es el primer elemento del argumento redondeado, y así sucesivamente, (es decir, todos los elementos estan redondeados).

**Pregunta 2.3.1.** Utilice `np.round` para calcular la población mundial de cada año, redondeada al millón más cercano (8 ceros). Asigne al resultado (una matriz de 66 números) el nombre "poblacion_redondeada". **Tu código debe ser muy corto**.  

Prueba por ejemplo, poniendo el segundo argumento de np.round en el valor que se necesita, puede ser valores negativos o positivos, ejemplo: 

```python
    np.round(100245700, -4), 
    np.round(3.16, 1)

```

In [36]:

poblacion_redondeada = np.round(poblacion,-8)
poblacion_redondeada

array([2600000000, 2600000000, 2600000000, 2700000000, 2700000000,
       2800000000, 2800000000, 2900000000, 2900000000, 3000000000,
       3000000000, 3100000000, 3100000000, 3200000000, 3300000000,
       3400000000, 3400000000, 3500000000, 3600000000, 3600000000,
       3700000000, 3800000000, 3900000000, 3900000000, 4000000000,
       4100000000, 4200000000, 4200000000, 4300000000, 4400000000,
       4500000000, 4500000000, 4600000000, 4700000000, 4800000000,
       4900000000, 4900000000, 5000000000, 5100000000, 5200000000,
       5300000000, 5400000000, 5500000000, 5500000000, 5600000000,
       5700000000, 5800000000, 5900000000, 5900000000, 6000000000,
       6100000000, 6200000000, 6200000000, 6300000000, 6400000000,
       6500000000, 6600000000, 6600000000, 6700000000, 6800000000,
       6900000000, 6900000000, 7000000000, 7100000000, 7200000000,
       7300000000])

In [37]:
grader.check("q8")

q8 results: All test cases passed!

Lo que acabas de hacer se llama aplicación **elemental** de `np.round`, ya que `np.round` opera por separado en cada elemento del arreglo. Aquí hay una imagen de lo que está pasando:

<img src="array_round.jpg">

 


La [sección](https://www.inferentialthinking.com/chapters/05/1/Arrays)  del libro de texto sobre arreglos tiene una lista útil de funciones de NumPy que están diseñadas para trabajar elemento por elemento, como `np.round`.

### Aritmética
La aritmética también funciona por elementos en matrices, lo que significa que si realiza una operación aritmética (como resta, división, etc.) en una matriz, Python realizará la operación en cada elemento de la matriz individualmente y devolverá una matriz con todos los resultados. Por ejemplo, puedes dividir todas las cifras de población por mil millones para obtener cifras en miles de millones:

In [38]:
poblacion_en_billones = poblacion / 1000000000
poblacion_en_billones

array([ 2.55762865,  2.59493988,  2.63677231,  2.68205339,  2.7302281 ,
        2.78209894,  2.83529967,  2.89134972,  2.94813725,  3.00071659,
        3.04300151,  3.08396693,  3.14009322,  3.20982788,  3.28120131,
        3.35042579,  3.42067792,  3.49033371,  3.56231382,  3.63715905,
        3.71269774,  3.79032695,  3.86656865,  3.94209644,  4.01660881,
        4.08908323,  4.16018501,  4.23208458,  4.30410575,  4.37901394,
        4.45136274,  4.53441012,  4.61456656,  4.69573674,  4.77456939,
        4.8564627 ,  4.94057123,  5.02720049,  5.11455717,  5.20144011,
        5.28895593,  5.37158592,  5.45613628,  5.53826832,  5.61868213,
        5.69920299,  5.77944059,  5.85797254,  5.93521325,  6.01207492,
        6.08857138,  6.16521925,  6.24201635,  6.31859096,  6.39569951,
        6.47304473,  6.55126353,  6.62991376,  6.70904978,  6.78821439,
        6.86633236,  6.94405558,  7.02234928,  7.10102789,  7.17872289,
        7.25649001])

Puedes hacer lo mismo con la suma, resta, multiplicación y exponenciación (`**`).

## 3. Creando tablas

Una arreglo es útil para describir un único atributo de cada elemento de una colección. Por ejemplo, digamos que nuestra colección son todos los departametos de Colombia. Entonces una matriz podría describir la superficie terrestre de cada departamento.

Las tablas amplían esta idea al contener múltiples columnas almacenadas y representadas como arreglos, cada una de las cuales describe un atributo diferente para cada elemento de una colección. De esta manera, las tablas nos permiten no sólo almacenar datos sobre muchas entidades sino también contener varios tipos de datos sobre cada entidad.

Por ejemplo, en la celda siguiente tenemos dos matrices. El primero, `cantidades_poblacion`, se definió anteriormente en la sección 2.2 y contiene la población mundial de cada año (estimada por la Oficina del Censo de EE. UU.). El segundo arreglo, `anios`, contiene los años. Estos elementos están en orden, por lo que el año y la población mundial de ese año tienen el mismo índice en sus matrices correspondientes.

In [39]:
# Simplemente ejecuta esta celda
poblacion_=poblacion.copy()
anios = np.arange(1950, 2015+1)
print("Columna de población:", poblacion_)
print("Columna de años:", anios)

Columna de población: [2557628654 2594939877 2636772306 2682053389 2730228104 2782098943
 2835299673 2891349717 2948137248 3000716593 3043001508 3083966929
 3140093217 3209827882 3281201306 3350425793 3420677923 3490333715
 3562313822 3637159050 3712697742 3790326948 3866568653 3942096442
 4016608813 4089083233 4160185010 4232084578 4304105753 4379013942
 4451362735 4534410125 4614566561 4695736743 4774569391 4856462699
 4940571232 5027200492 5114557167 5201440110 5288955934 5371585922
 5456136278 5538268316 5618682132 5699202985 5779440593 5857972543
 5935213248 6012074922 6088571383 6165219247 6242016348 6318590956
 6395699509 6473044732 6551263534 6629913759 6709049780 6788214394
 6866332358 6944055583 7022349283 7101027895 7178722893 7256490011]
Columna de años: [1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964
 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994
 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 2010 2011 2012 2013 2014 2015]

Supongamos que queremos responder a esta pregunta:

    ¿En qué año la población mundial superó los 6 mil millones?

Técnicamente, podrías responder a esta pregunta simplemente mirando los arreglos, pero es un poco complicado, ya que tendrías que contar la posición donde la población cruzó por primera vez los 6 mil millones y luego encontrar el elemento correspondiente en la *matriz de años*. En casos como estos, podría ser más fácil colocar los datos en una *`Tabla`*, un tipo de conjunto de datos bidimensional.

La siguiente expresión:

- Crea una tabla vacía usando la expresión `Table()`,
- Agrega dos columnas llamando a `with_columns` con cuatro argumentos (correspondientes al nombre de la columna, los valores de esa columna, el nombre de la segunda columna y los valores de esa columna),
- Asigna el resultado al nombre `poblacion`.
- Finalmente, evalúa la `poblacion` para que podamos ver la tabla.

Las cadenas `"Anios"` y `"Poblacion"` son etiquetas de columnas que hemos elegido. Los nombres `poblacion_` y `anios` se asignaron arriba a dos matrices de la **misma longitud**. La función `with_columns` (puede encontrar la documentación [aquí](http://data8.org/fa21/python-reference.html)) acepta cadenas alternas (para representar etiquetas de columnas) y matrices (que representan los datos en esas columnas). Las cadenas y arreglos están separadas por comas.

Notese que en la siguiente celda, tenemos una variable `anios` que un arreglo, a la cual le asignaremos el nombre `Anios`, este último puede ser el nombre que tu quieras.

In [40]:
poblacion = Table().with_columns(
     "Población", poblacion_,
     "Anio", anios
)
poblacion

Población  | Anio
2557628654 | 1950
2594939877 | 1951
2636772306 | 1952
2682053389 | 1953
2730228104 | 1954
2782098943 | 1955
2835299673 | 1956
2891349717 | 1957
2948137248 | 1958
3000716593 | 1959
... (56 rows omitted)

¡Ahora los datos se combinan en una sola tabla! Es mucho más fácil analizar estos datos. Si necesita saber cuál era la población en 1959, por ejemplo, podrá saberlo con un solo vistazo.

**Pregunta 3.1**. En la celda siguiente encontrarás dos arreglos ya definidos: `top_10_nombres_peliculas` y `top_10_rating_peliculas`. Tu tarea consiste en crear una **tabla** y guardarla en la variable `top_10_peliculas`. Esta tabla debe tener **dos columnas**:

- `"Nombre"`: que contenga los nombres de las películas.
- `"Clasificación"`: que contenga la calificación correspondiente a cada película.

In [41]:

top_10_nombres_peliculas = make_array(
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)')
top_10_ratings_peliculas = make_array(9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8)

top_10_peliculas = Table().with_columns('Nombre', top_10_nombres_peliculas,
                                        'Clasificacion', top_10_ratings_peliculas)

In [42]:
grader.check("q9")

q9 results: All test cases passed!

#### Cargando una tabla desde un archivo

En la mayoría de los casos, no nos tomaremos la molestia de escribir todos los datos manualmente. En lugar de ello, los cargamos desde una fuente externa, como un archivo de datos. Existen muchos formatos para archivos de datos, pero CSV ("valores separados por comas") es el más común.

`Table.read_table(...)` toma un argumento (una ruta a un archivo de datos en formato **cadena**) y devuelve una tabla.

**Pregunta 3.2.** `imdb.csv` contiene una tabla de información sobre las 250 películas mejor calificadas en IMDb. Cárguelo como una tabla llamada `imdb`.

(¡Quizás recuerde haber trabajado con esta tabla en el Laboratorio 2!)

In [43]:

imdb = Table.read_table('imdb.csv')
imdb

Votes  | Rating | Title                 | Year | Decade
88355  | 8.4    | M                     | 1931 | 1930
132823 | 8.3    | Singin' in the Rain   | 1952 | 1950
74178  | 8.3    | All About Eve         | 1950 | 1950
635139 | 8.6    | Léon                  | 1994 | 1990
145514 | 8.2    | The Elephant Man      | 1980 | 1980
425461 | 8.3    | Full Metal Jacket     | 1987 | 1980
441174 | 8.1    | Gone Girl             | 2014 | 2010
850601 | 8.3    | Batman Begins         | 2005 | 2000
37664  | 8.2    | Judgment at Nuremberg | 1961 | 1960
46987  | 8      | Relatos salvajes      | 2014 | 2010
... (240 rows omitted)

In [44]:
grader.check("q10")

q10 results: All test cases passed!

¿De dónde vino "imdb.csv"? Eche un vistazo a [la carpeta de este laboratorio](./). Debería ver un archivo llamado `imdb.csv`.

Abra el archivo `imdb.csv` en esa carpeta y observe el formato. ¿Que notaste? La terminación del nombre de archivo `.csv` dice que este archivo está en el [formato CSV (valores separados por comas)](http://edoceo.com/utilitas/csv-file-format).

## 4. ¡Más operaciones con tablas!

Ahora que ha trabajado con matrices, agreguemos algunos métodos más a la lista de operaciones de tablas que vio en el laboratorio  2.

### `column`

`column` toma el nombre de la columna de una tabla (en formato de cadena) como argumento y devuelve los valores de esa columna como una **matriz**.

In [45]:
# Returns an array of movie names
top_10_peliculas.column('Nombre')

array(['The Shawshank Redemption (1994)', 'The Godfather (1972)',
       'The Godfather: Part II (1974)', 'Pulp Fiction (1994)',
       "Schindler's List (1993)",
       'The Lord of the Rings: The Return of the King (2003)',
       '12 Angry Men (1957)', 'The Dark Knight (2008)',
       'Il buono, il brutto, il cattivo (1966)',
       'The Lord of the Rings: The Fellowship of the Ring (2001)'],
      dtype='<U56')

### `take`
El método de tabla `take` toma como argumento una matriz de números. Cada número debe ser el índice de una fila de la tabla. Devuelve una **nueva tabla** con solo esas filas.

Por lo general, querrás usar `take` junto con `np.arange` para tomar las primeras filas de una tabla.

In [46]:
# Toma las primeras 5 películas de top_10_movies
top_10_peliculas.take(np.arange(0, 5, 1))

Nombre                          | Clasificacion
The Shawshank Redemption (1994) | 9.2
The Godfather (1972)            | 9.2
The Godfather: Part II (1974)   | 9
Pulp Fiction (1994)             | 8.9
Schindler's List (1993)         | 8.9

Las siguientes tres preguntas le brindarán práctica para combinar las operaciones que aprendió en el laboratorio 2 y lo que llevamos de este, para responder preguntas sobre las tablas `poblacion` e `imdb`. Primero, consulte la tabla de `poblacion` de la sección 2.

In [47]:
# Ejecute esta celda para mostrar la tabla de población.
poblacion

Población  | Anio
2557628654 | 1950
2594939877 | 1951
2636772306 | 1952
2682053389 | 1953
2730228104 | 1954
2782098943 | 1955
2835299673 | 1956
2891349717 | 1957
2948137248 | 1958
3000716593 | 1959
... (56 rows omitted)

**Pregunta 4.1.** Consulte la tabla de "poblacion" de la sección 2 de esta práctica de laboratorio. Calcule el año en que la población mundial superó por primera vez los 6 mil millones. Asigne el año a `poblacion_cruzo_6B`.

_Sugerencia:_ ¿Cómo podemos filtrar la tabla solo para filas con valores de población superiores a 6 mil millones? ¿Cómo podemos encontrar el primer año de esta tabla filtrada?

In [48]:
poblacion = Table().read_table('poblacion_mundial.csv')
poblacion_cruzo_6B = anios[poblacion.column('Poblacion') > 6e9][0]
poblacion_cruzo_6B
poblacion_cruzo_6B

1999

In [49]:
grader.check("q11")

q11 results: All test cases passed!

**Pregunta 4.2.** Encuentre la calificación promedio de las películas estrenadas **antes del año 2000** y la calificación promedio de las películas estrenadas en el **año 2000 o después** de las películas en `imdb`(debe calcular ambas).

**Pista**: Piensa en los pasos que debes seguir (tomar el promedio, encontrar las calificaciones, buscar películas estrenadas en los siglos XX y XXI) e intenta ponerlas en un orden que tenga sentido.

In [53]:
peliculas = Table().read_table('imdb.csv')
peliculas

Votes  | Rating | Title                 | Year | Decade
88355  | 8.4    | M                     | 1931 | 1930
132823 | 8.3    | Singin' in the Rain   | 1952 | 1950
74178  | 8.3    | All About Eve         | 1950 | 1950
635139 | 8.6    | Léon                  | 1994 | 1990
145514 | 8.2    | The Elephant Man      | 1980 | 1980
425461 | 8.3    | Full Metal Jacket     | 1987 | 1980
441174 | 8.1    | Gone Girl             | 2014 | 2010
850601 | 8.3    | Batman Begins         | 2005 | 2000
37664  | 8.2    | Judgment at Nuremberg | 1961 | 1960
46987  | 8      | Relatos salvajes      | 2014 | 2010
... (240 rows omitted)

In [54]:


...
...
antes_2000_promedio = np.mean(peliculas.where('Year', are.below(2000)).column('Rating'))
despues_o_e_2000_promedio = np.mean(peliculas.where('Year', are.above_or_equal_to(2000)).column('Rating'))
print("Calificación promedio antes de 2000:", antes_2000_promedio)
print("Calificación promedio después o en 2000:", despues_o_e_2000_promedio)

Calificación promedio antes de 2000: 8.2783625731
Calificación promedio después o en 2000: 8.23797468354

In [55]:
grader.check("q12")

q12 results: All test cases passed!

**Pregunta 4.3.** Aquí tienes un desafío: encuentra la cantidad de películas que se estrenaron en años *pares*, llama esta variable `num_peliculas_anios_pares`


*Pista:* El operador `%` calcula el residuo al dividir por un número. Entonces "5% 2" es 1 y "6% 2" es 0. Un número es par si el residuo es 0 cuando se divide por 2.

*Pista 2:* `%` se puede usar en arreglos, operando por elementos como `+` o `*`. Entonces `make_array(5, 6, 7) % 2` es `array([1, 0, 1])`.

*Pista 3:* Agregue una nueva columna llamada "Anio_restante" que es el residuo cuando el año de estreno de cada película se divide por 2. Para hacer esto, puede usar `table.with_column(col_name, col_values)`: un método de tabla que toma en el nombre de la nueva columna y un arreglo de valores y devuelve una copia del `table` original con la nueva columna. Luego, use `where` para encontrar filas donde esa nueva columna sea igual a 0. Finalmente, use `num_rows` para contar el número de dichas filas.

*Nota:* Estos pasos pueden encadenarse en una sola declaración o dividirse en varias líneas con nombres intermedios asignados. ¡Siempre puedes resolver los problemas como quieras!

In [58]:
imdb = Table().read_table('imdb.csv')
num_peliculas_anios_pares = imdb.with_columns('Anio_restante', imdb.column('Year')%2).where('Anio_restante',are.equal_to(0)).num_rows

In [59]:
grader.check("q13")

q13 results: All test cases passed!

## 5. Más práctica con arreglos

¡Las siguientes preguntas serán una excelente práctica para aprender a generar arreglos de diferentes maneras, así como para ejecutar diferentes métodos de aritmética de arreglos!

###  5.1 `np.arange` (cont.)

La tabla `costo_vida_resumido.csv` contiene información sobre el índice de costo de vida de diferentes ciudades a nivel  mundial de la primera mitad del 2024, en particular, el indice de renta y el indice de precio es de un restaurante, tomado y adaptado del siguiente [enlace](https://www.numbeo.com/cost-of-living/rankings_by_country.jsp). El índice de renta, refleja el costo promedio de alquilar una vivienda; mientras que el índice del precio de un restaurante, indica el costo relativo de una comida, todos los anterior comparados respecto a la ciudad de Nueva York.

Por ejemplo, si en Nueva York un plato de comida en un restaurante cuesta, en promedio, 20 USD, en Hong Kong ese mismo plato cuesta el 46.2% del precio en Nueva York, es decir, el precio sería: `20 * 0.462 = 9.24 USD` (Revisa la tabla para que entiendas de donde sale el número `0.462` ). Basándote en este ejemplo, construye una nueva columna llamada `PrecioRestaurante[USD]` dentro de la tabla `costo_vida`, para obtener el precio  de un plato de comida en diferentes países asumiento que en Nueva York el costo promedio es de 20 usd.

**Nota:** Algunos indices puede estar desfasados respecto a su valor real, dado que es una base de datos en la que hay contribuciones de usuarios en diferentes paises, y algunos paises, pueden tener bajas contribuciones de usuarios lo que genan un desbalance estadístico en algunas comparaciones (9,102,405 prices in 11,809 cities entered by 814,542 contributors)

In [62]:
costo_vida = Table().read_table("cost_vida_resumido.csv")
precio_restaurante = costo_vida.with_column("PrecioRestaurante[USD]",\
                                     costo_vida.column("IndicePrecioRestaurante")*20/100 )
precio_restaurante

Unnamed: 0 | Pais              | IndiceRenta | IndicePrecioRestaurante | PrecioRestaurante[USD]
0          | Switzerland       | 101.1       | 97                      | 19.4
1          | Bahamas           | 85          | 83.3                    | 16.66
2          | Iceland           | 83          | 86.8                    | 17.36
3          | Singapore         | 76.7        | 50.4                    | 10.08
4          | Barbados          | 76.6        | 69.4                    | 13.88
5          | Norway            | 76          | 73.5                    | 14.7
6          | Denmark           | 72.3        | 81.3                    | 16.26
7          | Hong Kong (China) | 70.8        | 46.2                    | 9.24
8          | United States     | 70.4        | 67.2                    | 13.44
9          | Australia         | 70.2        | 62.5                    | 12.5
... (111 rows omitted)

In [63]:
grader.check("q14")

q14 results: All test cases passed!

**Pregunta 5.2.4.** Las potencias de 2 ($2^0 = 1$, $2^1 = 2$, $2^2 = 4$, etc.) surgen con frecuencia en informática. (Por ejemplo, es posible que hayas notado que el almacenamiento en teléfonos inteligentes o dispositivos USB viene en potencias de 2, como 16 GB, 32 GB o 64 GB). Utilice `np.arange` y el operador de exponenciación `**` para calcular la primera 30 potencias de 2, comenzando desde `2^0`.

*Pista 1:* `np.arange(1, 2**30, 1)` crea un arreglo con $2^{30}$ elementos y **bloqueará su kernel**.

*Pista 2:* Parte de tu solución involucrará `np.arange`, pero tu matriz no debe tener más de 30 elementos.

In [68]:
elementos = np.arange(0,30,1)
potencias_de_2 = 2**elementos

In [69]:
grader.check("q15")

q15 results: All test cases passed!

---

<img src="java.png" alt="Picture of two brown cats sitting on a window" width="400"/>

¡¡**Java** y **Juno** están emocionados de que hayas terminado el Laboratorio 3!!

Para volver a verificar su trabajo, la celda a continuación volverá a ejecutar todas las pruebas del autocalificador.


---

¡Terminaste con el laboratorio!

**Información importante sobre el envío:**
- **Ejecuta todas las pruebas** y verifica que todas pasan
- **Guardar** desde el menú **Archivo**
- **Ejecute la celda final **
- Luego, ve a este [enlace](https://cienciadatosudea.github.io/001_SitioWebFundCienciaDatos/04entregas.html) y envía el archivo ipynb a la tarea correspondiente. El nombre de esta tarea es "Lab XX Autograder", donde XX es el número de laboratorio: 01, 02, 03, etc.

- Si terminas temprano en el laboratorio regular, **registra tu asistencia con el instructor**.

**Es su responsabilidad asegurarse de que su trabajo esté guardado antes de ejecutar la última celda.**

`Referencia`: Este material esta basado en [Data 8: The Foundations of Data Science](https://www.data8.org/) - University of California, Berkeley.

## Envío

Asegúrese de haber ejecutado todas las celdas de su cuaderno en orden antes de ejecutar la siguiente celda, para que todas las imágenes/gráficos aparezcan en el resultado. La siguiente celda generará un archivo zip para que lo envíe. **¡Guarde antes de exportar!**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

These are some submission instructions.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)